*{
    box-sizing: border-box;
}

body {
      margin: 0;
      background-color: gray;
     
}

html{
  scroll-behavior: smooth; 
}





a{
  text-decoration: none; 
  color: white;
}  



h2{   
   
  font-family: arial;
  font-size: 45px;
  color: white;
}

h3
{ 
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left:50px ;
    padding-right:50px ;
}








p {  
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
  padding-left:5px ;
}



header{ 
        display: flex;
     

        background-color: black;
        min-height: 70 px;
        align-items: center;
        padding: 8px;
     }




.logo{
       display: flex;
       align-items: center;
       }
.logo img{
           height: 70px;
           margin-right:  5px;
     } 









/*-----------------------------------------------*/

nav{
     padding: 1px 20px;
}
nav {
  background-color: #333; 
  overflow: hidden;
  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;

}

li {
  float: right; 
}

li a {
  display: block; 
  flex-direction: column;
  color: white;
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none;
  line-height: 40px;
}


li a:hover {
  background-color: #111;
}


/*-------------------------------------------*/

.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

video {
  width: 200%;
  height: auto;
}

video::-webkit-media-controls-panel {
  font-size: 24px;
}



.fotos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

fotos {
  width: 200%;
  height: auto;
}


.contacto-container{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}













img{
	width: 25%;
}


video { 
	top: 50%;
	left: 10%;
	transform: translate (50%, -50%);
	
	width: 25%;
	margin: auto;
	display: block;
}




.videoreel{

  padding-top: 100px;

  width: 100%;
 
          
          
}






/**Tablet**/
@media (min-width: 768 px) and (max-width: 990px) {
  
  .desktop {
             display: none;
  }
  .movil {
             display:none;
  }
}


/**Escritorio**/
@media (min-width: 991px) {
  
  .tablet {
             display: none;
  }
  .movil {
             display:none;
  }
} 